* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body,
html {
  width: 100vw;
  height: 100vh;
}
label.firstlabel {
  position: absolute;
  right: 25px;
  border: solid 1px lightgray;
  border-radius: 22px 22px;
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 25rem;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin: auto;
}
.slider{
  margin: 0 auto;
  width: 90%;
  height: auto;
  overflow: hidden;
}
.slides{
  align-items: center;
  position: relative;
  width: 500%;
  height: auto;
  display: flex;
}
.slides input{
  display: none;
}
.slide.item{
  width: 20%;
  /* position: relative; */
  transition: 2s;
}
/* .slide img{
  width: 800px;
} */
 
.manual-navigation{
  display: flex;
  height: auto;
  position: relative;
  width: 100vw;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.manual-btn{
  display: none;
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 12px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child){
  margin-right: 40px;
}
.manual-btn:hover{
  background-color: #fff;
}
#radio1:checked~.first{
margin-left: 0;
}
#radio2:checked~.first{
margin-left: -20%;
}
#radio3:checked~.first{
margin-left: -40%;
}
#radio4:checked~.first{
margin-left: -60%;
}
#radio5:checked~.first{
margin-left: -80%;
}
.navigation-auto{
  display: flex;
  
  width: 90%;
  height: 40%;
}
.navigation-auto div{
  border: 2px solid #f4f5f7;
  padding: 5px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.6s;
  position: relative;
  background-color: red;
}
.navigation-auto{
  height: auto;
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.navigation-auto div:not(:last-child){
  margin-right: 40px;
}
#radio1:checked ~.navigation-auto .auto-btn1{
  background-color: #fff;
}
#radio2:checked ~.navigation-auto .auto-btn2{
  background-color: #fff;
}
#radio3:checked ~.navigation-auto .auto-btn3{
  background-color: #fff;
}
#radio4:checked ~.navigation-auto .auto-btn4{
  background-color: #fff;
}
#radio5:checked ~.navigation-auto .auto-btn5{
  background-color: #fff;
}


input.fazerBusca {
  position: relative;
  left: 10px;
  padding: 2%;
  border: none;
  width: auto;
  height: 40px;
}
#buscaFilme:focus {
  outline: none;
}
button.mobile {
  visibility: hidden;
}
nav {
  gap: 1rem;
  display: flex;
  align-items: center;
  height: 80px;
}
nav a {
  color: lightgray;
  font-size: larger;
  font-weight: 600;
  padding: 5px 0px;
  text-decoration: none;
  width: auto;
  height: 40px;
  border-bottom: 2px solid transparent;
  transition: 0.6s ease-in-out;
}
a:hover {
  color: white;
  border-bottom: solid white 2px;
}
/* button.busca {
  text-decoration: none;
  padding: 1%;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: red;
  border: transparent;
  height: 100%;
  width: 30%;
  border-radius: 0 22px 22px 0;
  cursor: pointer;
  transition: 0.6s;
} */
.btn-busca{
  z-index: 10000;
  text-decoration: none;
  padding: 1%;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: red;
  border: transparent;
  height: 100%;
  width: 30%;
  border-radius: 0 22px 22px 0;
  cursor: pointer;
  transition: 0.6s;
}

a.busca:hover{
  color: rgb(255, 255, 255);
  /* border-bottom: 5px solid transparent; */
}
div.cards {
  padding: 1%;
  background-color: black;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto;
}
img {
  border-radius: 12px 12px;
  height: 400px;
  width: 300px;
  border: solid lightgray 1px;
}
.dados h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.dados p {
  line-height: 1.6;
}
.dados::-webkit-scrollbar {
  width: 12px;              
  /* pra ficar com scrooll invi mas ainda tala */
}
.scroll{
  overflow: scroll;
}
.dados {
  transition: 1s ease-in-out;
  opacity: 0;
  overflow-x: hidden;
  transition: 0.6 ease-in-out;
  padding: 15px;
  position: absolute;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  height: 400px;
  width: 300px;
  border-radius: 12px;
  z-index: 10;
  overflow-x: hidden;
}
.dados:hover {
  opacity: 1;
  transition: 0.6 ease-in-out;
  padding: 15px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  height: 400px;
  width: 300px;
  border-radius: 12px;
  z-index: 10;
  overflow-x: hidden;
}
.card {
  row-gap: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: 300px;
  height: 450px;
  padding: 1%;
  color: white;
}
.card img {
  position: relative;
  transition: 0.6s;
  z-index: 5;
}
.card img:hover {
  position: relative;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 5;
}
header {
  display: block;
  background: transparent;
  padding: 2%;
  color: lightgray;
  width: 99%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  text-align: center;
}
.imagem {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/ac9aedf1-a687-4c5d-965c-2fc3eac84aea/b02b882e-4d72-4529-bad5-946a3c89faf3/BR-pt-20221206-popsignuptwoweeks-perspective_alpha_website_small.jpg);
  background-size: cover;
}
.background {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(black, transparent, black);
}
main {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/ac9aedf1-a687-4c5d-965c-2fc3eac84aea/b02b882e-4d72-4529-bad5-946a3c89faf3/BR-pt-20221206-popsignuptwoweeks-perspective_alpha_website_small.jpg);
}
div.gradient {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(black, transparent, black);
}
.itenCarusel1 {
  width: auto;
  height: auto;
}
.itenCarusel2 {
  border-radius: 12px;
  padding: 20px;
  color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(32, 32, 32);
  height: 400px;
}
.item {
  /* flex-wrap: wrap; */
  gap: 1rem;
  padding: 20px;
  border-radius: 13px;
  background-color: #0c0c0c90;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-shrink: 0;
  /* não reduz o elemento de tamanho para caber dentro da div  */
  height: auto;
  /* opacity: 0.6; */
  transition: all 600ms ease-in-out;
}
/*  carousel */
.container {
  flex-wrap: wrap;
  margin-top: 50px;
  border-radius: 12px;
  position: relative;
  padding: 15px;
  width: 80%;
  height: auto;
  margin-bottom: 200px;
}
.gallery-wrapper {
  overflow-x: auto;
}
.gallery {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}
.arrow-left,
.arrow-right {
  padding: 2%;
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  width: 40px;
  text-align: center;
  color: white;
  cursor: pointer;
  border: none;
  background: linear-gradient(to left, transparent 0%, black 200%);
  opacity: 0.1;
  transition: all 600ms ease-in-out;
}
.arrow-right {
  left: auto;
  right: 0;
  background: linear-gradient(to right, transparent 0%, black 200%);
}
.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}
.arrow-left {
  transform: rotate(180deg);
  background: linear-gradient(to left, transparent 0%, black 200%);
}
.current-item {
  opacity: 1;
}
.gallery-wrapper::-webkit-scrollbar {
  display: none;
}
@media (max-width: 900px) {
  .item {
    flex-wrap: wrap;
  }
  .itenCarusel2 {
    width: 100%;
    height: 95%;
    border-radius: 12px;
    color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(32, 32, 32);
  }
}
@media (max-width:700px) {
  nav a {
    visibility: hidden;
  }
  button.mobile {
    visibility: visible;
  }
  .container {
    margin-top: 50px;
    border-radius: 12px;
    position: relative;
    padding: 15px;
    width: 99vw;
    height: 90vh;
  }
  .item {
    flex-wrap: wrap;
    /* background-color: red; */
  }
  .itenCarusel2 {
    padding: 5%;
    width: 90vw;
    height: 90vh;
    border-radius: 12px;
    color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(32, 32, 32);
  }
  button.mobile {
    border: transparent;
    transition: 2ms ease-in;
    position: absolute;
    top: 20px;
    left: 15px;
    width: 55px;
    /* background-color: red; */
    height: 60px;
    background-color: transparent;
  }
  button.mobile hr {
    transition: 2s;
    background-color: red;
    padding: 5%;
    border-radius: 5px;
  }
  button.mobile.active hr.hr2 {
    visibility: hidden;
  }
  button.mobile.active hr.hr1 {
    transform: rotate(405deg);
    position: relative;
    bottom: -23px;
  }
  button.mobile.active hr.hr3 {
    transform: rotate(-405deg);
    position: relative;
    top: -20px;
  }
  label.firstlabel {
    position: absolute;
    left: 80px;
    border: solid 1px lightgray;
    border-radius: 22px 22px;
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 75vw;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin: auto;
  }
  input {
    position: relative;
    left: 10px;
    padding: 2%;
    border: none;
    width: 12rem;
    height: 40px;
  }
  nav.nav button {
    z-index: 500;
  }
  nav.nav.hidden {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 80;
    gap: 5rem;
  }
  nav.nav.hidden a {
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 50px;
    visibility: visible;
    background-color: rgb(0, 0, 0);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    border-bottom: solid transparent 2px;
    transition: 0.6s ease-in-out;
  }
  nav.nav.hidden a:hover {
    border-bottom: solid white 2px;
  }
}